body {
  margin: 0;
  font-family: "Open Sans", "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}

svg {
  fill: currentColor;
}

form h3 {
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 16px !important;
  font-family: "Open Sans", sans-serif !important;
}

input[name="discount"] {
  max-width: 207px;
}

input[name="discount"]:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}
